EXPO_PUBLIC_CONVOKIT_EXAMPLE_MODE=showcase
EXPO_PUBLIC_CONVOKIT_CLIENT_ID=
EXPO_PUBLIC_CONVOKIT_TOKEN_ENDPOINT=
EXPO_PUBLIC_CONVOKIT_APP_USER_ID=react_native_expo_example
EXPO_PUBLIC_CONVOKIT_BACKEND_URL=
